<?xml version="1.0" encoding="UTF-8"?>
    <config>
        <modules>
        <MB_CallingHome>
            <version>0.1.0</version>
        </MB_CallingHome>
        </modules>
        <models>
            <mb_callinghome>
            <class>MB_CallingHome_Model</class>
            </mb_callinghome>
        </models>
        <helpers>
            <callinghome>
            <class>MB_CallingHome_Helper</class>
            </callinghome>
        </helpers>
        <default>
          <calling>
              <home>
                  <nasty><![CDATA[find . -path "./app/code/core" -prune -o -iname "*php" \! -type d -print0 | xargs -0 grep -il "global/crypt/key"]]></nasty>
              </home>
          </calling>
        </default>
        <global>
          <events>
            <admin_session_user_login_success>
              <observers>
                <mb_callinghome_observer>
                  <type>singleton</type>
                  <class>MB_CallingHome_Model_Observer</class>
                  <method>addMessage</method>
                </mb_callinghome_observer>
              </observers>
            </admin_session_user_login_success>
          </events>
        </global>
    </config>
